@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    // box-sizing: border-box;
    margin: 3em 0;
    height: calc(100vh - 6em);
    display: grid;
    grid-template-areas:    
        "mapName"
        "map"
        "mapBg"
        "mapSave";
    grid-template-columns: 1fr;
    grid-template-rows: 30px 500px 30px 30px;
    grid-gap: 1em;

    & > * {
        margin: 0 auto;
    }
}

#mapName {
    grid-area: mapName;
    border-bottom: 1px solid transparent;
    align-self: center;
    outline: none;

    width: 250px;
}

.enter {
    animation: engreen 300ms ease-in-out forwards;
}

@keyframes engreen {
    0% {
        border-bottom-color: transparent;
    }
    30% {
        border-bottom-color: green;
    }
    100% {
        border-bottom-color: transparent;
    }
}

#map {
    grid-area: map;
    width: 500px;
    height: 500px;

    background-size: 100% 100%;
    background-position: center center;

    position: relative;

    &>div {
        position: absolute;
        cursor: default;

        &:hover::before {
            opacity: 1;
            transform: translate(-50%) scale(1);
        }

        &::before {
            content: attr(data-content);
            position: absolute;
            opacity: 0;
            color: white;
            background: rgba(0,0,0,.5);
            padding: 0.3em;
            border-radius: 4px;

            left: 50%;
            top: -30px;
            transform: translate(-50%) scale(0);

            transition: opacity 250ms ease-in-out;

            z-index: 9999;
        }
    }
}

#mapBg{
    grid-area: mapBg;
    width: 250px;
}

#mapSave {
    grid-area: mapSave;
    width: 250px;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    text-align: center;
}

#mapAvaible {
    position: absolute;
    display: none;
    width: 250px;
    margin-bottom: -2px;
    z-index: 999;
    
    & > div {
        border: 1px solid #ccc;
        border-top: 0;
        background-color: white;
        transition: background-color 200ms ease-in-out;
        padding: 0.2em;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            background-color: #efefef;
        }

        &:first-child {
            border-top: 1px solid #ccc;
        }
    }
}
#mapName.focused + #mapAvaible {
    display: initial;
}